<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>
      <%= @page %>
    </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <%= @heading %>
    <%= yield %>
  </body>
</html>
