<h1>メモの新規作成</h1>

<form action="/memos/new" method="post">
  <p>メモのタイトル<br>
  <input type="text" name="title"></p>
  <p>メモの詳細<br>
  <textarea name="body" rows="4" cols="40"></textarea> </p>
  <p><input type="submit" value="保存"></p>
</form>

